@use "../../assets/colors.scss" as *;

.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 1em;
    border-radius: 1em;
  }
}

@media (min-width: 768px) {
  .login-container .login {
    width: 25%;
  }
}
